

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #fdfdfd;
  color: #222;
}

header {
  text-align: center;
  background-color: #272643;
  color: white;
  padding: 1.5rem 1rem;
}

#course-title {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation a {
  color: #e3f6f5;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navigation a:hover {
  color: #bae8e8;
  border-bottom: 2px solid #bae8e8;
}

main {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  gap: 2rem;
}

h1 {
  text-align: center;
  font-size: 2rem;
  color: #272643;
}

.card {
  background-color: #e3f6f5;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;

}

footer {
  background-color: #2c698d;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

footer p {
  margin: 0.3rem 0;
}
