/* temples-large.css */

@media (min-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  header h1 {
    font-size: 2.2rem;
  }
  main img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px; 
}


  main h2 {
    font-size: 1.8rem;
  }
  @media (min-width: 640px) {
  #menu {
    display: none;
  }

  nav ul {
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

}
